body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%
}

.header {
    border-bottom: 1px dotted DarkGray;
    border-top: 1px dotted White;
    position: sticky;
    top: 0;
    background: White;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

.middle {
    /* position:absolute;
    top:150px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto; */
}

span.verse_number{
    font-weight: bold;
}

p.skt_iast{
    font-style: italic;
}

p.skt_span{
    color: Brown;
}

td.lex_cell{
    vertical-align: top;
    padding: 3px;
}

span.active_word{
    color: White;
    background: Brown;
}

span.lexword{
    color: DarkBlue;
    font-weight: bold;
}

span.unknown_string{
    color: Red;
}

span.conjug{
    color: CornflowerBlue;
}

span.abbrev{
    color: DarkGray;
}

span.lemma{
    color: DarkRed;
    font-style: italic;
}

ul.lex_options{
    margin: 0px;
}

li.lex_options{
    padding-top: 3px;
}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 70%;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}